cortx:
  external:
    kafka:
      endpoints:
        - tcp://<<.Values.cortx.external.kafka.endpoints>>:9092
      admin: admin
      secret: kafka_admin_secret
    openldap:
      endpoints:
        - ldap://<<.Values.cortx.external.openldap.endpoints>>:389
        - ssl://<<.Values.cortx.external.openldap.endpoints>>:636
      servers:
        <<.Values.cortx.external.openldap.servers>>
      admin: admin
      secret: openldap_admin_secret
      base_dn: dc=seagate,dc=com
    consul:
      endpoints:
        - tcp://<<.Values.cortx.external.consul.endpoints>>:8301
        - http://<<.Values.cortx.external.consul.endpoints>>:8500
      admin: admin
      secret: consul_admin_secret
  common:
    release:
      name: CORTX
      version: <<.Values.cortx.common.release.version>>
    environment_type: K8
    setup_size: small
    service:
      admin: admin
      secret: common_admin_secret
    storage:
      shared: <<.Values.cortx.common.storage.shared>>
      local: <<.Values.cortx.common.storage.local>>
      log: <<.Values.cortx.common.storage.log>>
      config: <<.Values.cortx.common.storage.local>>
    security:
      ssl_certificate: /etc/cortx/solution/ssl/s3.seagate.com.pem
      domain_certificate: /etc/cortx/solution/ssl/stx.pem
      device_certificate: /etc/cortx/solution/ssl/stx.pem
  utils:
    message_bus_backend: kafka
  s3:
    iam:
      endpoints:
      - https://<<.Values.cortx.io.svc>>:9443
      - http://<<.Values.cortx.io.svc>>:9080
    data:
      endpoints:
      - http://<<.Values.cortx.io.svc>>:80
      - https://<<.Values.cortx.io.svc>>:443
    internal:
      endpoints:
      - http://<<.Values.cortx.io.svc>>:28049
    service_instances: <<.Values.cortx.num_s3_inst>>
    io_max_units: 8
    max_start_timeout: <<.Values.cortx.max_start_timeout>>
    auth_admin: sgiamadmin
    auth_secret: s3_auth_admin_secret
  motr:
    client_instances: <<.Values.cortx.num_motr_inst>>
    interface_type: tcp
    interface_family: inet
    transport_type: libfab
  csm:
    auth_admin: authadmin
    auth_secret: csm_auth_admin_secret
    mgmt_admin: cortxadmin
    mgmt_secret: csm_mgmt_admin_secret
    email_address: cortx@seagate.com
    agent:
      endpoints:
      - https://<<.Values.cortx.io.svc>>:8081
