{{- if .Values.cortxha.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cortx.ha.fullname" . }}-headless
  namespace: {{ .Release.Namespace }}
  labels: {{- include "cortx.labels" . | nindent 4 }}
    app.kubernetes.io/component: ha
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  selector: {{- include "cortx.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: ha
{{- end }}
